extends base 

block content
    form(method="POST")
        input(name="name", type=text, reqired )
        input(name="email", type=text, reqired )
        input(name="username", type=text, reqired )
        input(name="password", type=text, reqired )
        input(name="location", type=text, reqired )
        input(type="submit" value="Join")
    