extends base.pug

block content
    video(src="/" + video.fileUrl, controls, width="500", height="700" )
    div
        p=video.description
        small=video.createdAt
    div
        small=`Created By ${owner.username}`
    if String(video.owner) === String(loggedInUser._id)
        a(href=`${video.id}/edit`) Edit Video &rarr;
        br
        a(href=`${video.id}/delete`) Delete Video &rarr;